body {background-image: linear-gradient(#2b2b2b,#141415);}

body > div {width: 960px; height: 1440px; position: relative; margin: auto; background-color: #171717;}
header.main  {color: white; text-align: center; font-size: 32px; font-family: Arial, Helvetica, sans-serif; margin-top: 15px; background-color: #000}
article {width: 900px ; height: 1000px; position:relative; background-image: linear-gradient(#292929, #383838); margin-left: 30px; }
article > div >img{width: 760px; height: 760px;}

