body {background-color: #1C1F24}

body > div {width: 960px; height: 1440px; position: relative; margin:auto; background-color: #000;}
header.main { color:white; text-align: center; font-size: 48px; font-family: Arial, Helvetica, sans-serif; }