body {background-image: linear-gradient(#2b2b2b,#141415);}

body > div {width: 960px; height: 1440px; position: relative; margin: auto; background-color: #171717;}
header.main  {height: 80px;color: white; text-align: center; font-size: 32px; font-family: Arial, Helvetica, sans-serif; margin-top: 15px; background-color: #0f0f0f}
article {width: 900px ; height: 340px; position:relative; background-color:#383838); color: white; font-family: Arial, Helvetica, sans-serif;}
article > div { text-align: center; font-family: "Lucida Console", "Courier New", monospace; margin-left: 30px;}



